/* -- card styles -- */
.study-page-all-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.study-page-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 241, 224);
  border-radius: 2px;
  width: 400px;
  border: 1px solid;
  text-align: center;
}

.card-count {
  display: flex;
  justify-content: flex-end;
}


.study-page-last-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 241, 224);
  border: 1px solid;
  border-radius: 2px;
  width: 400px;
  height: 200px;
  text-align: center;
  padding-top: 10px;
}

.not-enough-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 241, 224);
  border: 1px solid;
  border-radius: 2px;
  width: 400px;
  height: 200px;
  text-align: center;
  padding-top: 10px;
}

.not-enough-button {
  display: flex;
  align-self: center;
  width: 100px;
}


/* -- button styles -- */
.study-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  border-radius: 2px;
}

.flip-button {
  background-color: rgb(78, 207, 168);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font: 15px Arial;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.next-button {
  background-color: rgb(134, 127, 235);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font: 15px Arial;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.study-page-last-card button {
  background-color: rgb(78, 207, 168);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font: 15px Arial;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 200px;
  align-self: center;
  margin-bottom: 10px;
}

